# Byte compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a Python script from a template
# Before PyInstaller builds the exe, so as to inject date other infos to it.
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit Test / Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache

# Translations
*.mo
*.pot

# Django Stuff:
*.log
local_settings.py
db.sqlite3

# Flask Stuff:
instance/
.webassets-cache

# Scrapy Stuff
.scrapy

# Sphinx Documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyEnv
.python-version

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder Project Settings
.spyderproject
.spydproject

# Rope project settings
.ropeproject

# mkdocs documentationn
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Azure Functions Artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
.python_packages